<div class="modal-dialog modal-lg" role="document">

  <div class="modal-content">
    <section class="center">
      <form action="search.html"  method="post" >


      </form>

      </section>
    <div class="modal-header bg-primary text-light">

      <h5 class="modal-title">Liste des adresses</h5>
      <button type="button" class="close text-light" data-dismiss="modal">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="py-1">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>cite</th>
              <th>pays</th>
              <th>codePostal</th>

            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let e of adressesExped ">
              <td>{{ e.cite }}</td>
              <td>{{ e.pays }}</td>
              <td>{{ e.codePostal }}</td>


            </tr>
          </tbody>

        </table>

        <div class="btn-group" role="group" aria-label="Actions">
          <button (click)="createAdresseExped()" class="btn btn-primary btn-sm">ajouter AdresseExpedition</button>


        </div>


      </div>
    </div>
  </div>
</div>
