<h1>Liste de bon reception des acheteurs</h1>

<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>dateReception</th>
      <th>quantiteRecevoir</th>
      <th>quantiteAccepte</th>
      <th>quantiteRefuse</th>
      <th>etat</th>
      <th>archive</th>
      <th>Actions</th>
      <!-- Add more headers for other attributes -->
    </tr>
  </thead>
  <tbody *ngFor="let br of bonReceptions">

    <tr>

    <td>{{ br.dateReception | date }}</td>
    <td>{{ br.quantiteRecevoir }}</td>
    <td>{{ br.quantiteAccepte }}</td>
    <td>{{ br.quantiteRefuse }}</td>
    <td>{{ br.etat }}</td>
    <td>{{ br.archive }}</td>
    <td>
</table>
</div>
