<h1>Liste de livraison des fournisseurs</h1>

<div class="container">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Id Livraison</th>
      <th>Date de livraison</th>
      <th>Quantité livrée</th>
      <th>Etat</th>
      <th>Id Commande</th>
      <th>Id Fournisseur</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let livraison of livraisons">
      <td>{{ livraison.idLivraison }}</td>
      <td>{{ livraison.dateLivraison }}</td>
      <td>{{ livraison.quantiteDelivre }}</td>
      <td>{{ livraison.etat }}</td>
      <td>{{ livraison.commande.idCommande }}</td>
      <td>{{ livraison.commande.fournisseur.idUser }}</td>
    </tr>
  </tbody>
</table>
</div>
